.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.textarea-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.textarea {
  width: 200%;
  height: 150px;
  padding: 10px;
  font-size: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.word-count {
  margin-top: 10px;
  font-size: 18px;
  color: brown;
  font-style: italic;
}
